//- SECTION - WHO WE ARE
section.who-we-are
  h2.about-header Who We Are
  .container
    .row
      .col-md-8.col-md-offset-2
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, assumenda nesciunt labore sint temporibus numquam ipsum. Vitae minima, consequuntur aperiam reprehenderit fugiat soluta aut.
    .our-features
      .row
        .col-md-4.feature
          h2 Small Agency in a Big City
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id earum ut, nemo repellat totam aliquid corporis est, consequatur, recusandae reprehenderit maxime voluptas, voluptates!
          .feature-buttton.btn.btn-default Read More
        .col-md-4.feature
          h2 Small Agency in a Big City
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus vero corporis optio quidem, eaque error iusto modi in odit, laudantium dignissimos odio ex, suscipit dolor.
          .feature-buttton.btn.btn-default Read More
        .col-md-4.feature
          h2 Small Agency in a Big City
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quas numquam sit tenetur voluptas neque, cupiditate iusto, earum harum officiis, consectetur maxime rem ipsam.
          .feature-buttton.btn.btn-default Read More

//- SECTION - PEOPLE
section.people
  .container
    .row
      .col-md-3
        .person-box-1
          img(src="images/person-placeholder.png", alt="Placeholder")
          .person-info
            p.person-name Jane Done
            p.person-title Lead Designer
      .col-md-3
        .person-box-2
          img(src="images/person-placeholder.png", alt="Placeholder")
          .person-info
            p.person-name Brian Smith
            p.person-title Lead Designer
      .col-md-3
        .person-box-3
          img(src="images/person-placeholder.png", alt="Placeholder")
          .person-info
            p.person-name Terry White
            p.person-title Lead Designer
      .col-md-3
        .person-box-4
          img(src="images/person-placeholder.png", alt="Placeholder")
          .person-info
            p.person-name Sammy Brown
            p.person-title Lead Designer