footer
  .container
    .row
      .col-sm-3
        p Brello &copy; All Right Reserved - 2016
      .col-sm-3
        .footer-social
          ul
            li
              i.fa.fa-twitter
            li
              i.fa.fa-google-plus-square
            li
              i.fa.fa-pinterest-square
            li
              i.fa.fa-linkedin
      .col-sm-3
        .location
        | 123 Main Street
        br 
        | Somwhere, Outthere 12345
        br
        | (800) 123-4567
          
      .col-sm-3
        a(href="#") 
          | Contact Us 
        
script(src="https://cdn.jsdelivr.net/jquery/1.12.0/jquery.min.js")
script(src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js")
