doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title SITE
    block links
    
  body
    block nav
    block header
    block content
    block footer
