extends templates/pgwrap

block links
  include includes/links
  
block header
  include includes/header

block nav
  include includes/nav
    
block content
  include includes/content  

block footer
  include includes/footer
